[submodule "hardware/nevil_sbc_rev0/libs/65xx"]
	path = hardware/nevil_sbc_rev0/libs/65xx
	url = git@github.com-personal:Alarm-Siren/6502-kicad-library.git
[submodule "hardware/nevil_sbc_rev0/libs/rhais_connector-lumberg.pretty"]
	path = hardware/nevil_sbc_rev0/libs/rhais_connector-lumberg.pretty
	url = git@github.com-personal:dragonmux/rhais_connector-lumberg.pretty.git
